<%-include("partials/header.ejs") %>
<a href="/add" id="add" class="button">Add</a>
<div class="products">
  <% if(locals.prods.length>0) {prods.forEach(prod=>{%>
  <div class="product" id="<%= prod.id %>">
    <div class="content">
      <div><p>title: </p><h2><%= prod.title %></h2></div>
      <div><p>amount: </p><h2><%= prod.amount %></h2></div>
      <div><p>price: </p><h2><%= prod.price %> $</h2></div>
      <div><p>in_stock: </p><h2><%= prod.in_stock %></h2></div>
    </div>
    <div class="buttons">
      <a href="/update/<%= prod.id %>" class="update button " >Update</a>
      <button onclick="confirmDelet('<%= prod.id %>')" method="get" class="delete button">
        Delete
      </button>
    </div>
  </div>
  <script>
    function confirmDelet(productId) {
      if (confirm("Do you really want to delete this product?")) {
        window.location.href = `/delete/${productId}`;
      } else {
        console.log("product deletion was cancelled.");
        window.location.href = "/";
      }
    }
  </script>
  <% }); } else {%>
  <h1>No Products</h1>
  <% } %>
</div>

<%-include("partials/footer.ejs") %>
