<%-include("partials/header.ejs") %>
<a href="/add">Add</a>
<div class="products">
  <% if(locals.prods.length>0) {prods.forEach(prod=>{%>
  <div class="product" id="<%= prod.id %>">
    <div class="content">
      <h2>title: <%= prod.title %></h2>
      <p>amount: <%= prod.amount %></p>
      <p>price: <%= prod.price %></p>
      <p>in_stock: <%= prod.in_stock %></p>
    </div>
    <div class="button">
      <a href="/update/<%= prod.id %>">Update</a>
      <button onclick="confirmDelet('<%= prod.id %>')" method="get">
        Delete
      </button>
    </div>
  </div>
  <script>
    function confirmDelet(productId) {
      if (confirm("Do you really want to delete this product?")) {
        window.location.href = `/delete/${productId}`;
      } else {
        console.log("product deletion was cancelled.");
        window.location.href = "/";
      }
    }
  </script>
  <% }); } else {%>
  <div class=""><h1>No Products</h1></div>
  <% } %>
</div>

<%-include("partials/footer.ejs") %>
